.Card {
    flex: 1;
    margin: 20px;
    border: 4px solid #000;
    border-radius:10px;
    overflow:hidden ;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.Card .Conteudo {
    flex: 1;
    padding: 15px 0px ;
    color:black;
}

.Card .Footer {
    background-color: #000;
    color:aliceblue;
    padding: 5px 0px ;
}

.tit1 { /*especifico para o titulo do primeiro componente*/
    font-size: 1.5rem;
    font-weight: 600;
}

.tit2 { /*especifico para o subtitulo do primeiro componente*/
    font-size: 1.2rem;
    font-weight: 300;
}